@keyframes slider {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(calc(-100% - 5rem));
  }
  45% {
    transform: translateX(calc(-100% - 5rem));
  }
  50% {
    transform: translateX(calc(-200% - 10rem));
  }
  70% {
    transform: translateX(calc(-200% - 10rem));
  }
  75% {
    transform: translateX(calc(-100% - 5rem));
  }
  95% {
    transform: translateX(calc(-100% - 5rem));
  }
  100% {
    transform: translateX(0);
  }
}
*,
*::after,
*::before {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  color: #000;
  font: 300 1.6rem/1.7 "IranSans", sans-serif;
  background: #f3f4f6;
  box-sizing: border-box;
  position: relative;
}

::selection {
  color: #fff;
  background: #05b562;
}

.heading-primary {
  color: #ff7800;
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .heading-primary {
    font-size: 2.5rem;
  }
}

.heading-secondary {
  color: #ff7800;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 2rem;
  }
}

.heading-tertiary {
  width: max-content;
  color: #000;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.heading-tertiary::before {
  width: 7rem;
  height: 5px;
  content: "";
  background: #ddf1ff;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
  order: -1;
}
.heading-tertiary::after {
  width: 2.5rem;
  height: 5px;
  content: "";
  background: #53b8ff;
  border-radius: 10rem;
  order: -1;
  position: absolute;
  right: 4.5rem;
  z-index: 2;
}

.heading-quaternary {
  color: #000;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  transition: color 0.2s;
}

.paragraph {
  color: #606060;
  font-size: 1.6rem;
  font-weight: 300;
}

.ad-box {
  flex: 0 0 29%;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0.8rem 2.5rem rgba(149, 157, 165, 0.2);
}
@media only screen and (max-width: 75em) {
  .ad-box {
    flex: 0 0 40rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .ad-box {
    flex: 0 0 45rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .ad-box {
    flex: 0 0 37rem;
  }
}
.ad-box__img-box {
  width: calc(100% - 3rem);
  height: 16rem;
  margin: 0 auto -4rem;
  border-radius: 5px;
  overflow: hidden;
  transform: translateY(-5rem);
}
.ad-box__img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: all 0.4s;
}
.ad-box__img:hover {
  transform: scale(1);
}
.ad-box__heading {
  margin-bottom: 0.5rem;
  transition: all 0.2s;
}
.ad-box__heading:hover {
  color: #ff7800;
}
.ad-box__detail {
  text-align: right;
  padding: 0 1.5rem 1.5rem;
}
.ad-box__link-box {
  padding: 1.5rem 0;
  border-top: 1px solid rgba(210, 210, 210, 0.6);
  display: flex;
  justify-content: center;
}
.ad-box__link {
  color: #ff7800;
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.2s;
}
.ad-box__link:hover {
  color: #05b562;
}
.ad-box__icon {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}

.btn {
  color: #fff;
  font: inherit;
  font-size: 1.6rem;
  text-align: center;
  padding: 0.7rem 2rem;
  border-radius: 10rem;
  cursor: pointer;
  display: inline-block;
  transition: box-shadow 0.4s;
}
.btn-green {
  color: #05b562;
  background: #c2fbd7;
  box-shadow: 0 0.8rem 1.6rem rgba(44, 187, 99, 0.1490196078);
}
.btn-green:hover {
  box-shadow: 0 -2.5rem 1.8rem -1.4rem rgba(44, 187, 99, 0.3490196078), 0 0.1rem 0.2rem rgba(44, 187, 99, 0.2509803922), 0 0.2rem 0.4rem rgba(44, 187, 99, 0.2509803922), 0 0.4rem 0.8rem rgba(44, 187, 99, 0.2509803922), 0 0.8rem 1.6rem rgba(44, 187, 99, 0.2509803922), 0 1.6rem 3.2rem rgba(44, 187, 99, 0.2509803922);
}

.category-box {
  flex: 0 0 calc(25% - 2.25rem);
  height: 17rem;
  text-align: center;
  background: #ddf1ff;
  padding: 2rem;
  border: 1px solid #dadada;
}
@media only screen and (max-width: 75em) {
  .category-box {
    flex: 0 0 calc(24% - 2.25rem);
  }
}
@media only screen and (max-width: 56.25em) {
  .category-box {
    flex: 0 0 33rem;
  }
}
.category-box:hover .category-box__img {
  transform: scale(1.1);
}
.category-box__img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

.form {
  flex: 0 0 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .form {
    flex: 0 0 100%;
  }
}
.form h4 {
  color: #05b562;
}
.form__input {
  width: 45%;
  resize: none;
  color: #606060;
  font: inherit;
  font-size: 1.6rem;
  background: #fff;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .form__input {
    width: 44rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .form__input {
    width: 35rem;
  }
}
.form__input::placeholder {
  color: #606060;
  font: inherit;
}
.form__input:last-child {
  height: 10rem;
}

.hamburger-menu {
  display: none;
}
.hamburger-menu__btn {
  width: 2.7rem;
  height: 2.7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.hamburger-menu__line {
  background: #05b562;
  position: relative;
}
.hamburger-menu__line, .hamburger-menu__line::before, .hamburger-menu__line::after {
  width: 2.7rem;
  height: 3px;
  background: #05b562;
}
.hamburger-menu__line::before, .hamburger-menu__line::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.hamburger-menu__line::before {
  top: -0.6rem;
}
.hamburger-menu__line::after {
  top: 0.65rem;
}
.hamburger-menu:checked ~ .hamburger-menu__btn .hamburger-menu__line, .menu .hamburger-menu__btn .hamburger-menu__line {
  background: transparent;
}
.hamburger-menu:checked ~ .hamburger-menu__btn .hamburger-menu__line::before, .menu .hamburger-menu__btn .hamburger-menu__line::before, .hamburger-menu:checked ~ .hamburger-menu__btn .hamburger-menu__line::after, .menu .hamburger-menu__btn .hamburger-menu__line::after {
  background: #ff7800;
  top: 0;
}
.hamburger-menu:checked ~ .hamburger-menu__btn .hamburger-menu__line::before, .menu .hamburger-menu__btn .hamburger-menu__line::before {
  transform: rotate(45deg);
}
.hamburger-menu:checked ~ .hamburger-menu__btn .hamburger-menu__line::after, .menu .hamburger-menu__btn .hamburger-menu__line::after {
  transform: rotate(-45deg);
}

.media {
  flex: 0 0 auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.media__icon-box {
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  gap: 0 3rem;
}
.media__icon-box:hover h4 {
  color: #05b562;
}
.media__icon-box .paragraph {
  grid-column: 2/3;
}
.media__icon {
  width: 3.5rem;
  height: 3.5rem;
  transform: translateY(1.5rem);
  transition: fill 0.2s;
}
.media__icon--phone {
  fill: #ff7800;
}
.media__icon--whatsapp {
  fill: #25d366;
}
.media__icon--telegram {
  fill: #229ed9;
}
.media__icon--instagram {
  fill: #c13584;
}
.media__icon-box:hover .media__icon {
  fill: #05b562;
}

.search {
  width: 40rem;
  height: 3.7rem;
  display: flex;
}
@media only screen and (max-width: 75em) {
  .search {
    width: 40rem;
    height: 4.5rem;
  }
}
@media only screen and (max-width: 50em) {
  .search {
    width: 95%;
    margin: 0 auto;
    order: 1;
  }
}
.search__input {
  width: 90%;
  color: #606060;
  font: inherit;
  font-size: 1.4rem;
  background: #fff;
  padding: 0.4rem 1rem;
  border: 1px solid #dadada;
  border-radius: 6px;
  transition: all 0.2s;
}
.search__input:focus {
  border: 1px solid #05b562;
}
.search__icon-box {
  width: 7rem;
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.search__icon-box:hover {
  border: 1px solid #05b562;
}
.search__icon {
  width: 2.25rem;
  height: 2.25rem;
  fill: #05b562;
}

.footer {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 3rem;
}
.footer__container {
  padding: 0 7rem 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem 25rem;
}
@media only screen and (max-width: 75em) {
  .footer__container {
    gap: 5rem 15rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .footer__container {
    justify-content: center;
  }
}
.footer__aboutUs {
  flex: 0 0 30%;
}
@media only screen and (max-width: 75em) {
  .footer__aboutUs {
    flex: 0 0 37rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .footer__aboutUs {
    flex: 0 0 47rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__aboutUs {
    flex: 0 0 38rem;
  }
}
.footer__aboutUs h4 {
  margin-bottom: 1rem;
}
.footer__sections {
  flex: 0 0 auto;
  text-align: right;
}
.footer__sections h4 {
  margin: 0 -2rem 1rem 0;
}
.footer__list {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 5rem;
}
.footer__item {
  list-style: disc;
}
.footer__item::marker {
  color: #ff7800;
}
.footer__link {
  color: #606060;
  font-size: 1.6rem;
  font-weight: 400;
  transition: color 0.2s;
}
.footer__link:hover {
  color: #05b562;
}
.footer__nav {
  text-align: center;
  background: #fff;
  padding: 2rem 3rem;
}
.footer__nav--link {
  color: #606060;
  font-size: 1.6rem;
  transition: color 0.2s;
}
.footer__nav--link:hover {
  color: #05b562;
}

.header {
  width: 100%;
  height: 90vh;
  direction: ltr;
  text-align: right;
  background: #319DA0;
  padding: 3rem;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-padding: 3rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.header::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .header {
    padding: 1rem;
    scroll-padding: 1rem;
  }
}
.header__slide {
  flex: 0 0 100%;
  height: 100%;
  border-radius: 50px;
  scroll-snap-align: start;
  animation: slider 25s 2s ease infinite;
}
.header__slide--1 {
  text-align: center;
  background: linear-gradient(to right bottom, rgba(96, 96, 96, 0.1), rgba(96, 96, 96, 0.1)), url(../img/slide-1.jpg) top/cover no-repeat;
}
.header__slide--1 h2 {
  color: #fff;
  transform: translateY(25%);
}
.header__slide--2 {
  text-align: center;
  background: url(../img/slide-2.jpg) top/cover no-repeat;
}
.header__slide--2 h1 {
  transform: translateY(25%);
  margin: 0 2rem;
}
.header__slide--3 {
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/slide-3.jpg) 50%/cover no-repeat;
}
.header__slide--3 h2 {
  color: #fff;
  margin: 23rem 5rem 0 0;
}

.menu {
  width: 25rem;
  height: 100vh;
  background: #fff;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  visibility: hidden;
  transform: translateX(30rem);
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.6s ease-in-out;
  z-index: 10;
}
@media only screen and (max-width: 75em) {
  .menu {
    width: 27rem;
  }
}
.menu__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.menu__logo {
  height: 4rem;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu__item:not(:last-of-type) {
  border-bottom: 1px solid rgba(210, 210, 210, 0.6);
}
.menu__link {
  width: max-content;
  color: #606060;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0 1.5rem 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  transition: all 0.2s;
}
.menu__link:hover {
  color: #ff7800;
}
.menu__icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: #ff7800;
}

.nav {
  width: 100%;
  background: #fff;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}
@media only screen and (max-width: 75em) {
  .nav {
    gap: 3rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav {
    gap: 2rem 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav {
    padding: 1.5rem;
    gap: 2rem;
  }
}
.nav__link {
  color: #606060;
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  transition: all 0.2s;
}
.nav__link:hover {
  color: #ff7800;
}
.nav__link--icon {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}
.nav__logo {
  height: 4rem;
}
.nav .search {
  margin-left: auto;
}
.nav__cart {
  display: flex;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .nav__cart {
    margin-right: auto;
  }
}
.nav__cart:hover .nav__cart--icon {
  fill: #ff7800;
}
.nav__cart--icon {
  width: 3rem;
  height: 3rem;
  fill: #606060;
  cursor: pointer;
  transition: all 0.2s;
}
.nav__cart--count {
  width: 2rem;
  height: 2rem;
  color: #fff;
  font-size: 1.6rem;
  background: #f31c1c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20%;
  right: -20%;
}
@media only screen and (max-width: 24em) {
  .nav .hamburger-menu__btn-1 {
    margin-right: auto;
  }
}
.nav .hamburger-menu:checked ~ .menu {
  visibility: visible;
  transform: translateX(0);
}

.categories {
  max-width: 1600px;
  margin: 0 auto;
  padding: 5rem 0 2.5rem;
}
@media only screen and (max-width: 75em) {
  .categories {
    padding: 4rem 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .categories {
    padding: 3rem 0;
  }
}
.categories__container {
  padding: 3rem;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.ads {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding: 2.5rem 0;
}
.ads__container {
  padding: 9rem 3rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9rem 3rem;
}
@media only screen and (max-width: 56.25em) {
  .ads__container {
    gap: 9rem 4rem;
  }
}

.upload-ads {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding: 2.5rem 0;
}
.upload-ads__container {
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
@media only screen and (max-width: 56.25em) {
  .upload-ads__container {
    gap: 4rem;
  }
}
.upload-ads__txt {
  flex: 0 0 45%;
  text-align: right;
}
@media only screen and (max-width: 56.25em) {
  .upload-ads__txt {
    flex: 0 0 70%;
    order: 1;
  }
}
@media only screen and (max-width: 37.5em) {
  .upload-ads__txt {
    flex: 0 0 90%;
  }
}
.upload-ads__img {
  flex: 0 0 30%;
  height: 25rem;
}
@media only screen and (max-width: 56.25em) {
  .upload-ads__img {
    flex: 0 0 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  .upload-ads__img {
    flex: 0 0 70%;
  }
}

.reviews {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2.5rem 0;
}
.reviews__container {
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.reviews__box {
  flex: 0 0 38%;
  background: #fff;
  padding: 3rem;
  border-radius: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .reviews__box {
    flex: 0 0 66rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .reviews__box {
    flex: 0 0 36rem;
  }
}
.reviews__box--header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.reviews__box--photo {
  width: 6rem;
  height: 6rem;
  border: 5px;
}
.reviews__box--icon-box {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.reviews__box--icon {
  width: 2rem;
  height: 2rem;
  fill: #eecf31;
}
.reviews__box--review {
  height: 14rem;
  overflow-y: auto;
}
.reviews__box--txt {
  color: #606060;
  font-size: 1.7rem;
  line-height: 2;
  margin-left: 1rem;
}

.consultation {
  max-width: 1600px;
  margin: 0 auto;
  padding: 3rem 0;
}
.consultation__container {
  padding: 4rem 0 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .consultation__container {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */