@keyframes slider {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(calc(-100% - 5rem));
  }
  45% {
    transform: translateX(calc(-100% - 5rem));
  }
  50% {
    transform: translateX(calc(-200% - 10rem));
  }
  70% {
    transform: translateX(calc(-200% - 10rem));
  }
  75% {
    transform: translateX(calc(-100% - 5rem));
  }
  95% {
    transform: translateX(calc(-100% - 5rem));
  }
  100% {
    transform: translateX(0);
  }
}
*,
*::after,
*::before {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  color: #000;
  font: 300 1.4rem/1.7 "IranSans", sans-serif;
  background: #f3f4f6;
  box-sizing: border-box;
  position: relative;
}

::selection {
  color: #fff;
  background: #05b562;
}

.heading-primary {
  color: #ff7800;
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .heading-primary {
    font-size: 2.5rem;
  }
}

.heading-secondary {
  color: #ff7800;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 2rem;
  }
}

.heading-tertiary {
  width: max-content;
  color: #000;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.heading-tertiary::before {
  width: 7rem;
  height: 5px;
  content: "";
  background: #ddf1ff;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
  order: -1;
}
.heading-tertiary::after {
  width: 2.5rem;
  height: 5px;
  content: "";
  background: #53b8ff;
  border-radius: 10rem;
  order: -1;
  position: absolute;
  right: 4.5rem;
  z-index: 2;
}

.heading-quaternary {
  color: #000;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  display: inline-block;
}

.paragraph {
  color: #606060;
  font-size: 1.4rem;
  font-weight: 300;
}

.ad-box {
  flex: 0 0 30%;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0.8rem 2.5rem rgba(149, 157, 165, 0.2);
}
@media only screen and (max-width: 75em) {
  .ad-box {
    flex: 0 0 40rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .ad-box {
    flex: 0 0 45rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .ad-box {
    flex: 0 0 37rem;
  }
}
.ad-box:hover .ad-box__img {
  transform: scale(1);
}
.ad-box__img-box {
  width: calc(100% - 3rem);
  height: 16rem;
  margin: 0 auto -4rem;
  border-radius: 5px;
  overflow: hidden;
  transform: translateY(-5rem);
}
.ad-box__img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: all 0.4s;
}
.ad-box__heading {
  margin-bottom: 0.5rem;
  transition: all 0.2s;
}
.ad-box__heading:hover {
  color: #ff7800;
}
.ad-box__detail {
  text-align: right;
  padding: 0 1.5rem 1.5rem;
}
.ad-box__link-box {
  padding: 1.5rem 0;
  border-top: 1px solid rgba(210, 210, 210, 0.6);
  display: flex;
  justify-content: center;
}
.ad-box__link {
  color: #ff7800;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.2s;
}
.ad-box__link:hover {
  color: #05b562;
}
.ad-box__icon {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
  background: url(../icon/arrow-left.svg) no-repeat;
}

.btn {
  color: #05b562;
  font: inherit;
  font-size: 1.4rem;
  text-align: center;
  background: #c2fbd7;
  padding: 0.7rem 2rem;
  border-radius: 10rem;
  cursor: pointer;
  box-shadow: 0 0.8rem 1.6rem rgba(44, 187, 99, 0.1490196078);
  display: inline-block;
  transition: box-shadow 0.4s;
}
.btn:hover {
  box-shadow: 0 -2.5rem 1.8rem -1.4rem rgba(44, 187, 99, 0.3490196078), 0 0.1rem 0.2rem rgba(44, 187, 99, 0.2509803922), 0 0.2rem 0.4rem rgba(44, 187, 99, 0.2509803922), 0 0.4rem 0.8rem rgba(44, 187, 99, 0.2509803922), 0 0.8rem 1.6rem rgba(44, 187, 99, 0.2509803922), 0 1.6rem 3.2rem rgba(44, 187, 99, 0.2509803922);
}

.category-box {
  flex: 0 0 calc(25% - 2.25rem);
  height: 17rem;
  text-align: center;
  background: #ddf1ff;
  padding: 2rem;
  border: 1px solid #dadada;
}
@media only screen and (max-width: 75em) {
  .category-box {
    flex: 0 0 calc(24% - 2.25rem);
  }
}
@media only screen and (max-width: 56.25em) {
  .category-box {
    flex: 0 0 33rem;
  }
}
.category-box:hover .category-box__img {
  transform: scale(1.1);
}
.category-box__img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

.hamburger-menu {
  display: none;
}
.hamburger-menu__btn {
  width: 2.7rem;
  height: 2.7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.hamburger-menu__line {
  background: #05b562;
  position: relative;
}
.hamburger-menu__line, .hamburger-menu__line::before, .hamburger-menu__line::after {
  width: 2.7rem;
  height: 3px;
  background: #05b562;
}
.hamburger-menu__line::before, .hamburger-menu__line::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.hamburger-menu__line::before {
  top: -0.6rem;
}
.hamburger-menu__line::after {
  top: 0.65rem;
}
.hamburger-menu:checked ~ .hamburger-menu__btn .hamburger-menu__line, .menu .hamburger-menu__btn .hamburger-menu__line {
  background: transparent;
}
.hamburger-menu:checked ~ .hamburger-menu__btn .hamburger-menu__line::before, .menu .hamburger-menu__btn .hamburger-menu__line::before, .hamburger-menu:checked ~ .hamburger-menu__btn .hamburger-menu__line::after, .menu .hamburger-menu__btn .hamburger-menu__line::after {
  background: #ff7800;
  top: 0;
}
.hamburger-menu:checked ~ .hamburger-menu__btn .hamburger-menu__line::before, .menu .hamburger-menu__btn .hamburger-menu__line::before {
  transform: rotate(45deg);
}
.hamburger-menu:checked ~ .hamburger-menu__btn .hamburger-menu__line::after, .menu .hamburger-menu__btn .hamburger-menu__line::after {
  transform: rotate(-45deg);
}

.search {
  width: 40rem;
  height: 3.7rem;
  display: flex;
}
@media only screen and (max-width: 75em) {
  .search {
    width: 40rem;
    height: 4.5rem;
  }
}
@media only screen and (max-width: 50em) {
  .search {
    width: 95%;
    margin: 0 auto;
    order: 1;
  }
}
.search__input {
  width: 90%;
  color: #606060;
  font: inherit;
  font-size: 1.4rem;
  background: #fff;
  padding: 0.4rem 1rem;
  border: 1px solid #dadada;
  border-radius: 6px;
  transition: all 0.2s;
}
.search__input:focus {
  border: 1px solid #05b562;
}
.search__icon-box {
  width: 7rem;
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.search__icon-box:hover {
  border: 1px solid #05b562;
}
.search__icon {
  width: 4rem;
  height: 4rem;
  background: url(../icon/search.svg) no-repeat;
  transform: scale(0.6);
}

.header {
  width: 100%;
  height: 90vh;
  direction: ltr;
  text-align: right;
  padding: 3rem;
  overflow-x: scroll;
  scrollbar-width: 0;
  scroll-snap-type: x mandatory;
  scroll-padding: 3rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.header::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .header {
    padding: 1rem;
    scroll-padding: 1rem;
  }
}
.header__slide {
  flex: 0 0 100%;
  height: 100%;
  border-radius: 50px;
  scroll-snap-align: start;
  animation: slider 25s 2s ease infinite;
}
.header__slide--1 {
  text-align: center;
  background: linear-gradient(to right bottom, rgba(96, 96, 96, 0.1), rgba(96, 96, 96, 0.1)), url(../img/slide-1.jpg) top/cover no-repeat;
}
.header__slide--1 h2 {
  color: #fff;
  transform: translateY(25%);
}
.header__slide--2 {
  text-align: center;
  background: url(../img/slide-2.jpg) top/cover no-repeat;
}
.header__slide--2 h1 {
  transform: translateY(25%);
  margin: 0 2rem;
}
.header__slide--3 {
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/slide-3.jpg) 50%/cover no-repeat;
}
.header__slide--3 h2 {
  color: #fff;
  margin: 23rem 5rem 0 0;
}

.menu {
  width: 25rem;
  height: 100vh;
  background: #fff;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  visibility: hidden;
  transform: translateX(30rem);
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.6s ease-in-out;
  z-index: 10;
}
@media only screen and (max-width: 75em) {
  .menu {
    width: 27rem;
  }
}
.menu__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.menu__logo {
  height: 4rem;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu__item:not(:last-of-type) {
  border-bottom: 1px solid rgba(210, 210, 210, 0.6);
}
.menu__link {
  width: max-content;
  color: #606060;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0 1.5rem 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  transition: all 0.2s;
}
.menu__link:hover {
  color: #ff7800;
}
.menu__link:first-of-type {
  align-self: center;
}
.menu__icon {
  width: 1.75rem;
  height: 1.75rem;
}
.menu__icon--home {
  background: url(../icon/home.svg) no-repeat;
}
.menu__icon--category {
  background: url(../icon/category.svg) no-repeat;
}
.menu__icon--pets {
  background: url(../icon/pets.svg) no-repeat;
}
.menu__icon--add {
  background: url(../icon/add.svg) no-repeat;
}
.menu__icon--questions {
  background: url(../icon/questions.svg) no-repeat;
}
.menu__icon--contactUs {
  background: url(../icon/contactUs.svg) no-repeat;
}

.nav {
  width: 100%;
  background: #fff;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}
@media only screen and (max-width: 75em) {
  .nav {
    gap: 3rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav {
    gap: 2rem 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav {
    padding: 1.5rem;
    gap: 2rem;
  }
}
.nav__link {
  color: #606060;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  transition: all 0.2s;
}
.nav__link:hover {
  color: #ff7800;
}
.nav__link:hover .nav__link--icon {
  color: currentColor;
}
.nav__link--icon {
  width: 2rem;
  height: 2rem;
  color: currentColor;
  background: url(../icon/login.svg) no-repeat;
}
.nav__logo {
  height: 4rem;
}
.nav .search {
  margin-left: auto;
}
.nav__cart {
  display: flex;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .nav__cart {
    margin-right: auto;
  }
}
.nav__cart:hover .nav__cart--icon {
  fill: #ff7800;
}
.nav__cart--icon {
  width: 3rem;
  height: 3rem;
  background: url(../icon/cart.svg) no-repeat;
  cursor: pointer;
  transition: all 0.2s;
}
.nav__cart--count {
  width: 2rem;
  height: 2rem;
  color: #fff;
  font-size: 1.4rem;
  background: #f31c1c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20%;
  right: -20%;
}
@media only screen and (max-width: 24em) {
  .nav .hamburger-menu__btn:first-child {
    margin-right: auto;
  }
}
.nav .hamburger-menu:checked ~ .menu {
  visibility: visible;
  transform: translateX(0);
}

.categories {
  max-width: 1600px;
  margin: 0 auto;
  padding: 5rem 0 2.5rem;
}
@media only screen and (max-width: 75em) {
  .categories {
    padding: 4rem 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .categories {
    padding: 3rem 0;
  }
}
.categories__container {
  padding: 3rem;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.ads {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding: 2.5rem 0;
}
.ads__container {
  padding: 9rem 3rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9rem 3rem;
}
@media only screen and (max-width: 56.25em) {
  .ads__container {
    gap: 9rem 4rem;
  }
}/*# sourceMappingURL=style.css.map */