.categories {
    @include section;
    padding: 5rem 0 2.5rem;

    @include respond(tab-land) {
        padding: 4rem 0;
    }

    @include respond(phone) {
        padding: 3rem 0;
    }

    &__container {
        padding: 3rem;
        padding-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }
}

.ads {
    @include section;
    text-align: center;
    padding: 2.5rem 0;

    &__container {
        padding: 9rem 3rem 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 9rem 3rem;

        @include respond(tab-port) {
            gap: 9rem 4rem;
        }
    }
}