.menu {
    width: 25rem;
    height: 100vh;
    background: $color-white;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    visibility: hidden;
    transform: translateX(30rem);
    position: fixed;
    top: 0;
    right: 0;
    transition: all .6s ease-in-out;
    z-index: 10;

    @include respond(tab-land) {
        width: 27rem;
    }

    &__logo {
        height: 4rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__item {
        &:not(:last-of-type) {
            border-bottom: 1px solid #d2d2d299;
        }
    }

    &__link {
        width: max-content;
        color: $color-gray;
        font-size: $default-font-size;
        font-weight: 400;
        padding: 0 1.5rem 1rem 0;
        display: flex;
        align-items: center;
        gap: .7rem;
        transition: all .2s;

        &:hover {
            color: $color-secondary;
        }

        &:first-of-type {
            align-self: center;
        }
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;

        &--home {
            background: url(../icon/home.svg) no-repeat;
        }

        &--category {
            background: url(../icon/category.svg) no-repeat;
        }

        &--pets {
            background: url(../icon/pets.svg) no-repeat;
        }

        &--add {
            background: url(../icon/add.svg) no-repeat;
        }

        &--questions {
            background: url(../icon/questions.svg) no-repeat;
        }

        &--contactUs {
            background: url(../icon/contactUs.svg) no-repeat;
        }
    }
}