.nav {
    width: 100%;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;

    @include respond(tab-land) {
        gap: 3rem;
    }

    @include respond(tab-port) {
        gap: 2rem 4rem;
    }

    @include respond(phone) {
        padding: 1.5rem;
        gap: 2rem;
    }

    &__link {
        color: $color-gray;
        font-size: $default-font-size;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: .7rem;
        transition: all .2s;

        &:hover {
            color: $color-secondary;
        }

        &:hover &--icon {
            color: currentColor;
        }
 
        &--icon {
            width: 2rem;
            height: 2rem;
            color: currentColor;
            background: url(../icon/login.svg) no-repeat;
        }
    }

    &__logo {
        height: 4rem;
    }

    .search {
        margin-left: auto;
    }

    &__cart {
        display: flex;
        position: relative;

        @include respond(tab-port) {
            margin-right: auto;
        }

        &:hover &--icon {
            fill: $color-secondary;
        }

        &--icon {
            width: 3rem;
            height: 3rem;
            background: url(../icon/cart.svg) no-repeat;
            cursor: pointer;
            transition: all .2s;
        }
    
        &--count {
            width: 2rem;
            height: 2rem;
            color: $color-white;
            font-size: $default-font-size;
            background: #f31c1c;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -20%;
            right: -20%;
        }
    }

    &__label {
        width: 2.7rem;
        height: 2.7rem;
        cursor: pointer;
        display: flex;
        align-items: center;

        @media only screen and (max-width: 24em) {
            margin-right: auto;
        }
    }

    &__menu-btn {
        background: $color-primary;
        position: relative;
    
        &,
        &::before,
        &::after {
            width: 2.7rem;
            height: 3px;
        }
        
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s , background 0s;
        }

        &::before {
            background: #ff1313;
            top: -.7rem;
        }

        &::after {
            background: $color-secondary;
            top: .65rem;
        }
    }

    &__checkbox {
        display: none;
    }

    &__checkbox:checked ~ &__label &__menu-btn {
        background: transparent;
    }

    &__checkbox:checked ~ &__label &__menu-btn::before {
        transform: rotate(45deg);
        top: 0;
    }

    &__checkbox:checked ~ &__label &__menu-btn::after {
        background: #ff1313;
        transform: rotate(-45deg);
        top: 0;
    }

    &__checkbox:checked ~ .menu {
        visibility: visible;
        transform: translateX(0);
    }
}