.ad-box {
    flex: 0 0 30%;
    text-align: center;
    background: $color-white;
    border-radius: 5px;
    box-shadow: 0 .8rem 2.5rem #959da533;

    @include respond(tab-land) {
        flex: 0 0 40rem;
    }

    @include respond(tab-port) {
        flex: 0 0 45rem;
    }

    @include respond(phone) {
        flex: 0 0 37rem;
    }

    &:hover &__img {
        transform: scale(1);
    }

    &__img-box {
        width: calc(100% - 3rem);
        height: 16rem;
        margin: 0 auto -4rem;
        border-radius: 5px;
        overflow: hidden;
        transform: translateY(-5rem);
    }

    &__img {
        width: 100%;
        height: 100%;
        transform: scale(1.1);
        transition: all .4s;
    }

    &__heading {
        margin-bottom: .5rem;
        transition: all .2s;

        &:hover {
            color: $color-secondary;
        }
    }

    &__detail {
        text-align: right;
        padding: 0 1.5rem 1.5rem;
    }

    &__link-box {
        padding: 1.5rem 0;
        border-top: 1px solid $color-gray-dark;
        display: flex;
        justify-content: center;
    }

    &__link {
        color: $color-secondary;
        font-size: $default-font-size;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 1rem;
        transition: all .2s;

        &:hover {
            color: $color-primary;
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: currentColor;
        background: url(../icon/arrow-left.svg) no-repeat;
    }
}