.btn {
    color: $color-white;
    font: inherit;
    font-size: $default-font-size;
    text-align: center;
    padding: .7rem 2rem;
    border-radius: 10rem;
    cursor: pointer;
    display: inline-block;
    transition: box-shadow .4s;

    &-green {
        color: $color-primary;
        background: #c2fbd7;
        box-shadow: 0 .8rem 1.6rem #2cbb6326;

        &:hover {
            box-shadow:  0 -2.5rem 1.8rem -1.4rem #2cbb6359,
                0 .1rem .2rem #2cbb6340,
                0 .2rem .4rem #2cbb6340,
                0 .4rem .8rem #2cbb6340,
                0 .8rem 1.6rem #2cbb6340,
                0 1.6rem 3.2rem #2cbb6340;
        }
    }
}