*,
*::after,
*::before {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: inherit;
}

html {
    font-size: 65.5%;    // 1rem = 10px

    @include respond(tab-land) {
        font-size: 56.25%;    // 1rem = 9px
    }

    @include respond(tab-port) {
        font-size: 50%;    // 1rem = 8px
    }

    @include respond(big-desktop) {
        font-size: 75%;    // 1rem = 12px
    }
    
    scroll-behavior: smooth;
}

body {
    max-width: 1800px;
    margin: 0 auto;
    color: $color-black;
    font: $font;
    background: $color-white;
    box-sizing: border-box;
    position: relative;
}

::selection {
    color: $color-white;
    background: $color-primary;
}