.heading-primary {
    color: $color-secondary;
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    display: inline-block;
}

.heading-secondary {
    color: $color-secondary;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    display: inline-block;
}