// COLORS
$color-primary: #05b562;

$color-secondary: #ff7800;

$color-tertiary: #53b8ff;
$color-tertiary-light: #ddf1ff;

$color-gray: #606060;
$color-gray-light: #dadada;
$color-gray-light-2: #f3f4f6;
// $color-gray-light-3: #ececec;
$color-gray-dark: #d2d2d299;

$color-white: #fff;
$color-black: #000;

// FONT
$font: 300 1.6rem/1.7 "IranSans" , sans-serif;
$default-font-size: 1.6rem;