// COLORS
$color-primary: #05b562;

$color-secondary: #ff7800;

$color-gray: #606060;
$color-gray-light: #dadada;

$color-white: #fff;
$color-black: #000;

// FONT
$font: 300 1.6rem/1.7 "IranSans" , sans-serif;
$default-font-size: 1.5rem;